{% extends 'base.html.twig' %}

{% block title %}Détail livret
{% endblock %}

{% block body %}

	<main class="content">
		{% for label, messages in app.flashes %}
			<div class="alert alert-{{ label == 'error' ? 'danger' : label }} alert-dismissible fade show m-2" role="alert">
				{% for message in messages %}
					{{ message }}
				{% endfor %}
				<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
			</div>
		{% endfor %}
		<div class="container py-5">
			<a href="{{ path('lesLivrets') }}" class="btn btn-secondary mt-2">Retour aux livrets</a>
			<div class="d-flex flex-row align-items-center justify-content-between ">
				<div>
					<h2>Livret
						{{ livret.nomLivret }}</h2>
				</div>
				<div>
					<div class="container my-4">
						<div class="d-flex flex-column flex-sm-row justify-content-center align-items-center gap-2 text-center">
							{% if estMoisActuelOuFutur %}
								<button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addCategorieModal">
									Ajouter une catégorie
								</button>
								<button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addDepenseModal">
									Ajouter une dépense
								</button>
							{% endif %}
							<a href="{{ path('analyse', {id: livret.id}) }}" class="btn btn-primary">
								Analyse du livret
							</a>
						</div>
					</div>

					<div class="modal fade" id="addCategorieModal" tabindex="-1" aria-labelledby="addCategorieModalLabel" aria-hidden="true">
						<div class="modal-dialog">
							<div class="modal-content">
								<form method="POST" action="{{ path('ajoutCategLivret', {id: livret.id}) }}">
									<div class="modal-header">
										<h5 class="modal-title" id="addCategorieModalLabel">Ajouter une catégorie</h5>
										<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fermer"></button>
									</div>
									<div class="modal-body">
										<div class="mb-3">
											<label for="categorie" class="form-label">Catégorie</label>
											<input type="hidden" id="idLivret" name="idLivret" value="{{ livret.id }}">
											<select class="form-select" name="categorie_id" id="categorie" required>
												<option selected disabled>Choisir une catégorie</option>
												{% for categorie in categories %}
													<option value="{{categorie.id}}">{{categorie.libelle}}</option>
												{% endfor %}
											</select>
										</div>
										<div class="mb-3">
											<label for="budget" class="form-label">Budget maximum (€)</label>
											<input type="number" class="form-control" name="budget" id="budget" required>
										</div>
									</div>
									<div class="modal-footer">
										<button type="submit" class="btn btn-primary">Ajouter</button>
										<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
									</div>
								</form>
							</div>
						</div>
					</div>
					<div class="modal fade" id="addDepenseModal" tabindex="-1" aria-labelledby="addDepenseModalLabel" aria-hidden="true">
						<div class="modal-dialog">
							<div class="modal-content">
								<form method="POST" action="{{ path('ajouterDepense') }}">
									<div class="modal-header">
										<h5 class="modal-title" id="addDepenseModalLabel">Ajouter une dépense</h5>
										<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fermer"></button>
									</div>
									<div class="modal-body">
										<div class="mb-3">
											<label for="categorie" class="form-label">Catégorie</label>
											<input type="hidden" id="idLivret" name="idLivret" value="{{ livret.id }}">
											<select class="form-select" name="categorie_id" id="categorie" required>
												<option selected disabled>Choisir une catégorie</option>
												{% for categorie in categoriesDansLivret %}
													<option value="{{categorie.id}}">{{categorie.libelle}}</option>
												{% endfor %}
											</select>
										</div>
										<div class="mb-3">
											<label for="montant" class="form-label">Montant (€)</label>
											<input type="number" step="0.01" class="form-control" name="montant" id="montant" required>
										</div>
										<div class="mb-3">
											<label for="description" class="form-label">Description</label>
											<input type="text" class="form-control" name="description" id="description" maxlength="100" required>
										</div>
										<div class="form-check mb-3">
											<input class="form-check-input" type="checkbox" value="1" id="recurrente" name="recurrente">
											<label class="form-check-label" for="recurrente">
												Dépense récurrente
											</label>
										</div>
										<div id="recurrence">
											<div class="mb-3">
												<label for="frequence" class="form-label">Fréquence</label>
												<select class="form-select" name="frequence" id="frequence">
													<option value="" disabled selected>Choisir la fréquence</option>
													<option value="7">Hebdomadaire</option>
													<option value="30">Mensuelle</option>
													<option value="90">Trimestrielle</option>
												</select>
											</div>
											<div class="mb-3">
												<label for="date_debut" class="form-label">Date de début</label>
												<input type="date" class="form-control" name="date_debut" id="date_debut">
											</div>
											<div class="mb-3">
												<label for="date_fin" class="form-label">Date de fin</label>
												<input type="date" class="form-control" name="date_fin" id="date_fin">
											</div>
										</div>
									</div>
									<div class="modal-footer">
										<button type="submit" class="btn btn-success">Ajouter</button>
										<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="modal fade" id="modifDepenseModal" tabindex="-1" aria-labelledby="modifDepenseModalLabel" aria-hidden="true">
				<div class="modal-dialog">
					<form method="POST" id="formModifDepense" class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="modifDepenseModalLabel">Modifier la dépense</h5>
							<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fermer"></button>
						</div>
						<div class="modal-body">
							<div class="mb-3">
								<label for="modifMontantDepense" class="form-label">Montant</label>
								<input type="number" step="0.01" class="form-control" id="modifMontantDepense" name="modifMontantDepense" required>
							</div>
							<div class="mb-3">
								<label for="modifDescriptionDepense" class="form-label">Description</label>
								<input type="text" class="form-control" id="modifDescriptionDepense" name="modifDescriptionDepense" required>
							</div>
							<div class="form-check mb-3">
								<input class="form-check-input" type="checkbox" id="modifRecurrenteDepense" name="modifRecurrenteDepense">
								<label class="form-check-label" for="modifRecurrenteDepense">
									Dépense récurrente
								</label>
							</div>
							<div id="recurrenceFields">
								<div class="mb-3">
									<label for="frequence" class="form-label">Fréquence</label>
									<select class="form-select" name="frequenceModif" id="frequenceModif">
										<option value="" disabled selected>Choisir la fréquence</option>
										<option value="7">Hebdomadaire</option>
										<option value="30">Mensuelle</option>
										<option value="90">Trimestrielle</option>
									</select>
								</div>
								<div class="mb-3">
									<label for="date_debut_modif" class="form-label">Date de début</label>
									<input type="date" class="form-control" name="date_debut_modif" id="date_debut_modif">
								</div>
								<div class="mb-3">
									<label for="date_fin_modif" class="form-label">Date de fin</label>
									<input type="date" class="form-control" name="date_fin_modif" id="date_fin_modif">
								</div>
							</div>
						</div>
						<div class="modal-footer">
							<button type="submit" class="btn btn-primary">Enregistrer</button>
							<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
						</div>
					</form>
				</div>
			</div>

			<div class="modal fade" id="modifCategorieModal" tabindex="-1" aria-labelledby="modifCategorieModalLabel" aria-hidden="true">
				<div class="modal-dialog">
					<form method="POST" class="modal-content" id="formModifCategorie">
						<div class="modal-header">
							<h5 class="modal-title" id="modifCategorieModalLabel">Modifier le budget de la catégorie</h5>
							<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fermer"></button>
						</div>
						<div class="modal-body">
							<input type="hidden" name="id_livret" id="modifCategorieLivretId">
							<input type="hidden" name="id_categ" id="modifCategorieCategId">
							<div class="mb-3">
								<label for="modifBudgetCategorie" class="form-label">Budget maximum (€)</label>
								<input type="number" class="form-control" id="modifBudgetCategorie" name="modifBudget" required>
							</div>
						</div>
						<div class="modal-footer">
							<button type="submit" class="btn btn-primary">Enregistrer</button>
							<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
						</div>
					</form>
				</div>
			</div>
			<div class="d-flex justify-content-between align-items-center my-3">
				<a href="{{ path('detailLivret', { id: livret.id, mois: moisPrecedent, annee: anneePrecedente }) }}" class="btn btn-primary">← Mois précédent</a>

				<h5 class="mb-0">
					{% set moisNom = {'01': 'Janvier', '02': 'Février', '03': 'Mars', '04': 'Avril', '05': 'Mai', '06': 'Juin', '07': 'Juillet', '08': 'Août', '09': 'Septembre', '10': 'Octobre', '11': 'Novembre', '12': 'Décembre'} %}
					{{ moisNom[('%02d'|format(mois))] }}
					{{ annee }}
				</h5>

				<a href="{{ path('detailLivret', { id: livret.id, mois: moisSuivant, annee: anneeSuivante }) }}" class="btn btn-primary">Mois suivant →</a>
			</div>


			<div class="accordion" id="categoriesAccordion">
				{% set maintenant = "now"|date("Y-m-d") %}
				{% set periodeEstDansLePasse = dateFin|date("Y-m-d") < maintenant %}
				{% set auMoinsUneCategorieAffichee = false %}

				{% for avoir in avoirs %}
					{% set categorie = avoir.categorie %}

					{% set nbDepenses = 0 %}
					{% for depense in categorie.depenses %}
						{% if depense.livret.id == livret.id and depense.date >= dateDebut and depense.date < dateFin %}
							{% set nbDepenses = nbDepenses + 1 %}
						{% endif %}
					{% endfor %}

					{% if avoir.estActif and (not periodeEstDansLePasse or nbDepenses > 0) %}
						{% set auMoinsUneCategorieAffichee = true %}
						<div class="accordion-item">
							<h2 class="accordion-header" id="heading{{ loop.index }}">
								<div class="d-flex justify-content-between align-items-center">
									<button class="accordion-button {% if loop.first %} {% else %}collapsed{% endif %}" type="button" data-bs-toggle="collapse" data-bs-target="#cat{{ loop.index }}" aria-expanded="{{ loop.first ? 'true' : 'false' }}" aria-controls="cat{{ loop.index }}">
										{{ categorie.libelle }}
										-
										{% set totalDepenses = 0 %}
										{% for depense in categorie.depenses %}
											{% if depense.livret.id == livret.id and depense.date >= dateDebut and depense.date < dateFin %}
												{% set totalDepenses = totalDepenses + depense.montant %}
											{% endif %}
										{% endfor %}
										<span class="ms-1 {{ totalDepenses == avoir.budgetMaxCateg ? 'text-warning' : (totalDepenses < avoir.budgetMaxCateg ? 'text-success' : 'text-danger') }}">
											{{ totalDepenses|number_format(2, ',', ' ') }}
											/
											{{ avoir.budgetMaxCateg|number_format(2, ',', ' ') }}
											€
										</span>
									</button>
									{% if estMoisActuelOuFutur %}
										<button class="btn btn-sm btn-outline-secondary ms-4 me-2" data-bs-toggle="modal" data-bs-target="#modifCategorieModal" data-livret="{{ avoir.livret.id }}" data-categ="{{ avoir.categorie.id }}" data-budget="{{ avoir.budgetMaxCateg }}">
											<i class="fa-solid fa-pencil"></i>
										</button>
										{% if avoir.estActif %}
											<a id="confirmDeleteCategorieBtn" href="{{ path('desactiverCateg', {livretId: livret.id, categId: categorie.id}) }}" class="btn btn-sm btn-outline-danger me-2">
												<i class="fa-solid fa-xmark"></i>
											</a>
										{% endif %}
									{% endif %}
								</div>
							</h2>
							<div id="cat{{ loop.index }}" class="accordion-collapse collapse {% if loop.first %}show{% endif %}" aria-labelledby="heading{{ loop.index }}" data-bs-parent="#categoriesAccordion">
								<div class="accordion-body">
									<ul class="list-group">
										{% set depenseAffichee = false %}
										{% for depense in categorie.depenses %}
											{% if depense.livret.id == livret.id and depense.date >= dateDebut and depense.date < dateFin %}
												{% set depenseAffichee = true %}
												<li class="list-group-item d-flex justify-content-between align-items-start">
													<div class="w-75">
														<div class="d-flex justify-content-between align-items-center">
															<strong>{{ depense.description }}</strong>
															<span class="badge bg-secondary rounded-pill fs-6">
																{{ depense.montant|number_format(2, ',', ' ') }}
																€
															</span>
														</div>
														<div class="d-flex flex-column">
															<small class="text-muted">Date de la dépense :
																{{ depense.date|date('d-m-Y') }}</small>
														</div>
														{% if depense.recurrence %}
															{% set prochaineDate = depense.date|date_modify('+' ~ depense.recurrence.frequence ~ ' days') %}
															{% set aujourdHui = "now"|date("Y-m-d")|date %}
															{% set interval = prochaineDate.diff(date(aujourdHui)) %}
															{% set joursRestants = interval.days %}

															<div class="d-flex flex-column">
																{% if prochaineDate <= depense.recurrence.dateFin %}
																	{% if prochaineDate > aujourdHui %}
																		<small class="text-muted">
																			Dépense récurrente – Prochaine dans
																			{{ joursRestants }}
																			jour(s).
																		</small>
																		<small class="text-muted">
																			Date début :
																			{{ depense.recurrence.dateDebut|date('d-m-Y') }}
																		</small>
																		<small class="text-muted">
																			Date fin :
																			{{ depense.recurrence.dateFin|date('d-m-Y') }}
																		</small>
																	{% else %}
																		<small class="text-muted">
																			Prochaine occurrence aujourd’hui ou déjà passée.
																		</small>
																	{% endif %}
																{% else %}
																	<small class="text-muted">
																		Dépense récurrente terminée le
																		{{ depense.recurrence.dateFin|date('d-m-Y') }}
																	</small>
																{% endif %}
															</div>
														{% endif %}
													</div>
													<div>
														{% if estMoisActuelOuFutur %}
															<button class="btn btn-sm btn-secondary" data-bs-toggle="modal" data-bs-target="#modifDepenseModal" data-id="{{ depense.id }}" data-montant="{{ depense.montant }}" data-description="{{ depense.description }}" {% if depense.recurrence %} data-recurrente="true" {% else %} data-recurrente="false" {% endif %} {% if depense.recurrence and depense.recurrence.frequence %} data-frequence="{{ depense.recurrence.frequence }}" {% else %} data-frequence="" {% endif %} {% if depense.recurrence and depense.recurrence.dateDebut %} data-date-debut="{{ depense.recurrence.dateDebut|date('Y-m-d') }}" {% else %} data-date-debut="" {% endif %} {% if depense.recurrence and depense.recurrence.dateFin %} data-date-fin="{{ depense.recurrence.dateFin|date('Y-m-d') }}" {% else %} data-date-fin="" {% endif %}>
																<i class="fa-solid fa-pencil"></i>
															</button>

															<a href="{{ path('supprimerDepense', {livretId: livret.id, depenseId: depense.id}) }}" class="btn btn-sm btn-danger ms-3">
																<i class="fa-solid fa-xmark"></i>
															</a>
														{% endif %}
													</div>
												</li>
											{% endif %}
										{% endfor %}
										{% if not depenseAffichee %}
											<li class="list-group-item">Aucune dépense dans cette catégorie.</li>
										{% endif %}
									</ul>
								</div>
							</div>
						</div>
					{% endif %}
				{% endfor %}
				{% if not auMoinsUneCategorieAffichee %}
					<p class="text-center mt-5">Aucune catégorie liée à cette période.</p>
				{% endif %}
			</div>
		</div>
	</main>
{% endblock %}
